nav {

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin: 2rem 0;

  #leftNav {

  }

  #innerNav {
    display: flex;
    justify-content: center;
    gap: $gap;
  }

  #rightNav {
    display: flex;
    justify-content: end;
  }

}