.list {
  display: grid;
  gap: $gap;

  .showList {
    display: flex;
    flex-direction: column;
    gap: $gap;

    .categoryBlock {
      background-color: $bg-elevated-2;
      border-radius: 8px;
      padding: $padding;
      display: grid;
      gap: $gap;

      .categoryTitle {
        font-size: 1.8rem;
        color: $text-secondary;
      }

      .item {
        color: $text-primary;
        display: grid;
        gap: $gap;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0.6rem;
        word-wrap: break-word;
        word-break: break-all;
      }

    }
  }
}
