#show {
  display: grid;
  gap: 2rem;

  .showList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    #categoryBlock {
      margin: 0.2rem 0;
      padding: 0.2rem 0;

      #categoryTitle {
        font-size: 2rem;
      }

      .item {
        color: $text-secondary;
        display: grid;
        gap: 1.4rem;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0.4rem;
        word-wrap: break-word;
        word-break: break-all;
      }

    }
  }
}

.listTitle {
  display: flex;
  // align-items:normal;
  justify-content: center;


}

.delete {
  background-color: transparent;
  padding: 0.4rem;
}