#show {
  display: grid;
  gap: 2rem;

  .showList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 0.4rem;

      .delete {
        background-color: transparent;
        padding: 0.4rem;
        svg {
          stroke: white;
          height: 1.2rem;
          width: 1.2rem;
          &:hover {
            stroke: rgba(217, 19, 19, 0.968);
          }
        }
      }
    }
  }
}