
button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  color: $text-secondary;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  border-color: $accent-primary;
  box-shadow: 0 0 0 3px rgba($accent-primary, 0.3);
}
.roundedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  height: 2.8rem;
  width: 2.8rem;
  background-color: $bg-elevated-3;
  transition: background-color 0.3s ease, transform 0.3s ease;

  svg {
    height: 100%;
    width: 100%;
    stroke: $accent-primary;

    &.withFill {
      fill: $accent-primary;
    }
  }

  &:hover {
    background-color: lighten($bg-elevated-3, 10%);
    transform: scale(1.05);

    svg {
      stroke: darken($accent-primary, 10%);

      &.withFill {
        fill: darken($accent-primary, 10%);
      }
    }
  }
  @media screen and (min-width: $tablet-breakpoint) {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.mutedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-primary;
  border: 2px solid $bg-elevated-2;
  border-radius: 100%;
}


.secondaryBtn {
  padding: $padding;
  background-color: $accent-secondary;
  color: $bg-elevated-1;
}