@import "./variables/_theme.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

}

body {
  font-size: 1.4em;
  margin: 0;
  padding: 0 0.6rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: $bg-base;
  color: $text-primary;
  border-radius: 8px;
  position: relative;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1.2em;
    border:none;
  }
}

main {
  background-color: $bg-elevated-1;
  padding: $padding;
  border-radius: 10px;
  min-height: 70vh;
}

a {
  color: $text-primary;
  text-decoration: inherit;
}

a:hover {
  color: $text-active;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-family: inherit;
  background-color: transparent;
  color: $bg-base;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  border-color: $accent-primary;
  box-shadow: 0 0 0 3px rgba($accent-primary, 0.3);
}
.roundedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  height: 3rem;
  width: 3rem;
  background-color: $bg-elevated-3;
  transition: background-color 0.3s ease, transform 0.3s ease;

  svg {
    height: 100%;
    width: 100%;
    stroke: $accent-primary;
  }

  &:hover {
    background-color: lighten($bg-elevated-3, 10%);
    transform: scale(1.05);

    svg {
      stroke: darken($accent-primary, 10%);
    }
  }
}

input, select {
  font-size: 1em;
  padding: $padding;
  border-radius: 8px;
  border: 1px solid transparent;
  color: $text-secondary;
  background-color: $bg-elevated-3;
  max-width: 100%;
  flex-grow: 1;

  &:focus {
    color: $text-active;
    outline: none;
    border-color: $accent-primary;
    box-shadow: 0 0 0 3px rgba($accent-primary, 0.3);
  }
  &::placeholder {
    color: $text-secondary;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding: 0;
}

svg {
  stroke: $text-secondary;
  height: 1.8rem;
  width: 1.8rem;

  &:hover {
    stroke: $accent-primary;
  }
}

#backButton {
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  padding: 0;
}

.listLink {
  color: $text-secondary
}

.secondaryBtn {
  flex-shrink: 0;
  color: $bg-base;
  padding: $padding;
  background-color: $accent-secondary;
}

.row {
  display: flex;
  flex-direction: row;
  gap: $gap;
}